.App{
  display:grid;
  grid-template-rows: auto auto;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

#header{
  display: block;
  text-align: center;
  align-items: center;
}

#image{
  justify-content: center;
  align-items: center;
}

.quoteDisplay{
  background-color: gray;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
}

#submitTitle{
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.quoteGetDisplay{
 background-color: lightgray;
}

#postForm{
  align-items: center;
  width: 100%;
}

#formElement{
  justify-content: center;
  text-align: center;
  padding: 1%;
}



#spacer{
  padding: .5%;
}